
./server/node_modules
./server/package-lock.json
./server/dist
./server/logs
./server/*.log  
./server/.DS_Store
./server/.idea
./server/.vscode
./server/*.sublime-project
./server/build
./server/coverage


./client/node_modules
./client/package-lock.json
./client/dist
./client/logs
./client/*.log
./client/.DS_Store
./client/.idea
./client/.vscode
./client/*.sublime-project
./client/build
./coverage
